@tailwind base;
@tailwind components;
@tailwind utilities;

.banner_image {
  background-image: url("../../public/assets/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.marquee {
  width: 100%;
  overflow: hidden;
}

.marquee-content {
  display: flex;
  animation: marquee 35s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(90%);
  }
  100% {
    transform: translateX(-20%);
  }
}
